@import url("https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400..900;1,400..900&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(239, 91, 129, 1);
  color: rgba(255, 255, 255, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 64px;
  background: rgba(239, 91, 129, 1);
}

.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: rgba(239, 91, 129, 1);
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.policy-terms-header__icon--menu {
  font-family: Kufam;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: rgba(255, 242, 106, 1);
  letter-spacing: 0%;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 8px 16px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: center;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 32px;

  gap: 28px;
  background: rgba(239, 91, 129, 1);
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Kufam;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}
.navigation__link:hover,
.navigation__link:focus {
  font-family: Kufam;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(255, 242, 106, 1);
  text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.8);
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 72px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 1px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-family: Kufam;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;

    padding: 0px 24px;
    text-decoration: none;
  }
  .navigation__link:hover,
  .navigation__link:focus {
    font-family: Kufam;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
  }
  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 790px;
  padding: 171px 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Frame\ 445.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title {
  font-family: Kufam;
  font-weight: 700;
  font-size: 44px;
  line-height: 56px;
  letter-spacing: 0%;
  text-align: center;

  -webkit-text-stroke: 1px rgba (67, 0, 147, 1);
  color: rgba(255, 242, 106, 1);
  text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.home-text {
  font-family: Kufam;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;

  padding: 100px 0 76px;
  width: 331px;
}
.home__google-button_image {
  width: 343px;
  height: 66px;
}
.home__google-button_link:hover .home__google-button_image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 762px;
    padding: 250px 0px 0px;
    background-image: url("/img/home/Frame\ 446.png");
  }

  .home-title {
    font-family: Kufam;
    font-weight: 700;
    font-size: 80px;
    line-height: 88px;
    letter-spacing: 0%;
    text-align: center;

    width: 1048px;
  }

  .home-text {
    font-family: Kufam;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;

    width: 1264px;
    padding: 71px 0 64px;
  }
}
.why {
  width: 375px;
  margin: auto;
  padding: 120px 16px 0;
}

.why-text {
  font-family: Kufam;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  padding: 40px 0 24px;
}
.why-img {
  width: 343px;
  height: 136px;
  border-radius: 16px;
}
@media screen and (min-width: 1200px) {
  .why {
    width: 1440px;
    padding: 120px 88px 0;
  }
  .why-text {
    font-family: Kufam;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;

    padding: 30px 0 24px;
  }
  .why-img {
    width: 1264px;
    height: 500px;
  }
}
.uniqueness {
  width: 375px;
  margin: auto;
  padding: 80px 16px 120px;
}

.uniqueness-list {
  width: 343px;
  height: 344px;
  border-radius: 16px;

  padding: 36px 10px;
  background: rgba(207, 41, 100, 1);
  border: 4px solid rgba(252, 246, 232, 1);
}

.uniqueness-text-bold {
  font-family: Kufam;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: right;
  color: rgba(255, 242, 106, 1);
}
.uniqueness-text {
  padding: 32px 0 24px;
  font-family: Kufam;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}
.uniqueness-img {
  width: 295px;
  margin: auto;
}
@media screen and (min-width: 1200px) {
  .uniqueness {
    width: 1440px;
    padding: 200px 88px 120px;
  }
  .uniqueness-list {
    width: 1264px;
    height: 232px;

    border-radius: 16px;
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
    border-width: 4px;
  }

  .uniqueness-text-bold {
    font-family: Kufam;
    font-weight: 600;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: right;
    width: 703px;
    margin-left: 500px;
  }
  .uniqueness-text {
    padding: 0px;
    font-family: Kufam;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    width: 481px;
    margin-top: -120px;
    padding-bottom: 24px;
  }
  .uniqueness-img {
    width: 481px;
    content: url("/img/Button\ \(3\).png");
    margin: 0;
  }
}
.about {
  padding: 88px 16px 0px;
  margin: auto;
  width: 375px;
}

.about-title {
  width: 343px;
  height: 60px;
  margin: auto;
  border-radius: 16px;
  background: rgba(255, 242, 106, 1);
  backdrop-filter: blur(4px);
  font-family: Kufam;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(207, 41, 100, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-text {
  font-family: Kufam;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;

  padding: 40px 0px 24px;
}
.about-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.about-item {
  width: 343px;
}
.about-item-img {
  width: 343px;
  height: 300px;
  border-radius: 16px;
}
.about-item-text-bold {
  padding: 16px 0 8px;
  font-family: Kufam;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  color: rgba(255, 242, 106, 1);
}
.about-item-text {
  font-family: Kufam;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}
@media screen and (min-width: 1200px) {
  .about {
    padding: 98px 92px 0;
    width: 1440px;
  }
  .about-title {
    width: 620px;
    height: 80px;
    border-radius: 16px;
    font-family: Kufam;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }

  .about-text {
    font-family: Kufam;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;

    padding: 30px 0px;
  }
  .about-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .gallery__image {
    width: 100%;
    height: 100%;
  }

  .about-item-img {
    width: 298px;
    height: 300px;
    border-radius: 16px;
    object-fit: cover;
    object-position: center;
  }
  .about-item-text-bold {
    padding: 24px 0 8px;
    font-family: Kufam;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
  }
  .about-item-text {
    font-family: Kufam;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
  }
}
.how {
  width: 375px;
  margin: auto;
  padding: 120px 16px 0;
}
.how-title {
  background: rgba(252, 246, 232, 1);
}
.how-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.how-item {
  width: 343px;

  border-radius: 12px;
  padding-top: 22px;
  padding-right: 20px;
  padding-bottom: 22px;
  padding-left: 20px;
  background: rgba(252, 246, 232, 1);
}
.how-img {
  margin: auto;
  margin-top: -40px;
  margin-left: -16px;
}
.how-text-bold {
  font-family: Kufam;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(67, 0, 147, 1);
}
.how-text {
  font-family: Kufam;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  padding-top: 12px;
  color: rgba(18, 17, 38, 1);
}

@media screen and (min-width: 1200px) {
  .how {
    width: 1440px;
    padding: 120px 88px;
  }
  .how-list {
    padding-top: 0px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px;
    height: 424px;
  }
  .how-item {
    width: 404px;
    border-radius: 12px;
    padding-top: 32px;
    padding-right: 20px;
    padding-bottom: 36px;
    padding-left: 20px;
  }
  .how-img {
    margin: auto;
    margin-top: -70px;
    margin-bottom: -49px;
  }
  .how-text-bold {
    font-family: Kufam;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
  }
  .how-text {
    font-family: Kufam;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;

    padding-top: 12px;
    color: rgba(18, 17, 38, 1);
  }
}

.reviews {
  width: 375px;
  margin: auto;
  padding: 120px 16px 0;
}

.reviews-list {
  display: none;
}
.reviews-lists {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 24px;
}
.reviews-item {
  width: 343px;
  height: 200px;
  border-radius: 12px;
  padding-top: 40px;
  padding-right: 32px;
  padding-left: 32px;
  background: rgba(252, 246, 232, 1);
  box-shadow: 0px 0px 16px 0px rgba(9, 176, 255, 1);
}

.reviews-text-bold {
  font-family: Kufam;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  color: rgba(67, 0, 147, 1);
}
.reviews-text {
  font-family: Kufam;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  color: rgba(18, 17, 38, 1);
  padding-top: 12px;
}
.reviews-img {
  margin: auto;
}
@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;
    padding: 120px 88px 0;
  }
  .reviews-list {
    display: flex;
    padding-top: 40px;
  }
  .reviews-lists {
    display: none;
  }
  .reviews-item {
    width: 405px;
    height: 200px;
    border-radius: 12px;
    padding-top: 40px;
    padding-right: 32px;
    padding-left: 32px;
    margin: 10px 12px;
  }
}

.faq {
  padding: 120px 16px 0px;
  margin: auto;
  width: 375px;
}
.faq-container {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.faq-item {
  border-radius: 16px;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  background: rgba(252, 246, 232, 1);
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: Kufam;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;

  color: rgba(67, 0, 147, 1);
}

.toggle-button {
  background: none;
  border: none;

  cursor: pointer;
}

.faq-answer {
  display: none;
  padding-top: 12px;
  font-family: Kufam;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  color: rgba(18, 17, 38, 1);
}
@media screen and (min-width: 1200px) {
  .faq {
    padding: 120px 89px;
    width: 1440px;
  }
  .faq-container {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .faq-item {
    border-radius: 16px;
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
  }

  .faq-question {
    font-family: Kufam;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0%;
  }

  .faq-answer {
    display: none;
    padding-top: 12px;
    font-family: Kufam;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
  }
}
.features {
  width: 375px;
  margin: auto;
  padding: 120px 16px 0px;
}

.features-list {
  padding: 40px 0;
}
.features-item {
  width: 298px;
  height: 409px;
  border-radius: 24px;
  padding: 32px 16px 0;
  gap: 24px;
  background: rgba(252, 246, 232, 1);
  margin: 0 5px;
}
.features-img {
  margin: auto;
}
.features-text-bold {
  font-family: Kufam;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}
.features-text {
  font-family: Kufam;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  height: 72px;
  margin: 8px 0 24px;
}
.gallery-button-container-two {
  display: flex;
}
.gallery-button-container {
  align-items: center;
  justify-content: center;
  gap: 11px;
}

.gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}

.gallery-button:hover {
  scale: 120%;
}
.gallery-button-container-three {
  display: none;
}
@media screen and (min-width: 1200px) {
  .gallery-button-container-two {
    display: none;
  }
  .gallery-button-container-three {
    display: flex;
    justify-content: end;
  }
  .features {
    width: 1440px;
    padding: 120px 92px 0px;
  }
  .features-list {
    padding: 30px 0 0;
  }
  .features-item {
    width: 298px;
    height: 409px;
    border-radius: 24px;
    padding-top: 32px;
    padding-bottom: 32px;
    gap: 24px;
    background: rgba(252, 246, 232, 1);
    margin: 0 12px;
  }
}
.footer {
  background: rgba(67, 0, 147, 1);

  color: #ffffff;
  padding: 80px 16px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 32px;
}
.footer-text {
  font-family: Kufam;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;

  color: #ffffff;
}

.footer-copyright {
  font-family: Kufam;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer {
    width: 1440px;
    margin: auto;
    padding: 80px 88px;
  }
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;

    gap: 160px;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;

    gap: 56px;
  }
  .footer-text {
    font-family: Kufam;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .footer-copyright {
    font-family: Kufam;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: right;
  }
}
.policy-terms-container {
  padding: 96px 16px 40px;
  background: rgba(252, 246, 232, 1);
  color: rgba(18, 17, 38, 1);
  font-family: Kufam;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}
.policy-terms-title {
  font-family: Kufam;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0%;
  color: rgba(207, 41, 100, 1);
}

.policy-terms-text {
  padding-top: 20px;
  font-family: Kufam;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}
.policy-terms-texts {
  padding-top: 8px;
}
.policy-terms-text-one {
  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;
  padding-left: 25px;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 136px 88px 60px;
    width: 1440px;
    margin: auto;
    font-family: Kufam;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
  }
  .policy-terms-title {
    font-family: Kufam;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0%;
  }

  .policy-terms-text {
    padding-top: 40px;
    font-family: Kufam;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
  }
  .policy-terms-texts {
  }
  .policy-terms-text-one {
    padding-top: 30px;
  }

  .terms-list {
    padding: 20px 0 20px 25px;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;

  padding: 20px 16px;
  border-radius: 16px;
  background: rgba(252, 246, 232, 1);
  border: 2px solid rgba(239, 91, 129, 1);
  z-index: 1000;

  display: none;
}

.cookie-popup-text-two {
  font-family: Kufam;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;

  color: rgba(18, 17, 38, 1);
}
.cookie-button-container {
  padding: 30px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.cookie-button {
  border: none;
  background-color: transparent;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 8px 0px rgba(74, 58, 255, 0.08);
  width: 343px;

  border-radius: 16px;
  padding-top: 16px;
  font-family: Kufam;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: rgba(239, 91, 129, 1);
  padding-bottom: 16px;
}
#accept-cookies {
  background: rgba(239, 91, 129, 1);
  color: rgba(255, 255, 255, 1);
  box-shadow: 0px 3px 12px 0px rgba(74, 58, 255, 0.18);
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-family: Kufam;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    width: 608px;
  }
  .cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;

    padding: 32px;
    display: none;
  }

  .cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
